

<div class="gridster">
    <ul>
        <!--<li data-row="1" data-col="1" data-sizex="2" data-sizey="2"><div class="header">users</div><canvas id="users" class="plot"></canvas></li>-->
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="2"><div class="header">io</div><canvas id="io" class="plot"></canvas></li>
       <!-- <li data-row="1" data-col="5" data-sizex="2" data-sizey="2"><div class="header">fragmentation</div><canvas id="fragmentation" class="plot"></canvas></li>
        <li data-row="2" data-col="1" data-sizex="3" data-sizey="3"><div class="header">servers (online count)</div><canvas id="servers" class="plot"></canvas></li>
        <li data-row="2" data-col="4" data-sizex="3" data-sizey="3"><div class="header">rooms (server count-staple)</div><canvas id="rooms" class="plot"></canvas></li>-->
    </ul>
</div>


<div id="log">
</div>



