

<div class="gridster">
    <ul>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="1"><div class="header">Servers</div><canvas id="server_count"></canvas></li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="1"><div class="header">Rooms</div><canvas id="room_count"></canvas></li>
        <li data-row="1" data-col="7" data-sizex="2" data-sizey="1"><div class="header">Users</div><canvas id="user_count"></canvas></li>
        <li data-row="2" data-col="1" data-sizex="4" data-sizey="2"><canvas id="servers"></canvas></li>  
        <li data-row="2" data-col="6" data-sizex="3" data-sizey="2"><canvas id="users"></canvas></li>
        <li data-row="3" data-col="1" data-sizex="4" data-sizey="2"><canvas id="io_in"></canvas></li>
        <li data-row="3" data-col="4" data-sizex="4" data-sizey="2"><canvas id="io_out"></canvas></li>
    </ul>
</div>
