@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <h1>Management Portal</h1>
            <p class="lead">Monitor your servers in realtime, have fun and scale out.</p>
            <p><a href="/Account/Login" class="btn btn-primary btn-lg">Enter &raquo;</a></p>
        </div>
    </div>
</div>